name: CI

on:
- push
- pull_request
- workflow_dispatch

jobs:
  test:
    runs-on: ubuntu-latest
    name: Test with Python ${{ matrix.python }}
    strategy:
      matrix:
        python: ['3.9', '3.10', '3.11', '3.12', '3.13']
    steps:
      - uses: actions/checkout@v4
      - name: setup test environment
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python }}
      - name: install pip
        run:
          python -m pip install --upgrade pip wheel
      - name: Lint with black
        uses: psf/black@stable
        with:
          options: "--check --diff"
      - name: Install dependencies
        run:
          python -m pip install -r requirements/dev.txt
      - name: Test with pytest
        run:
          pytest --pycodestyle -v --cov --cov-report=xml
      - name: Validate static typing with mypy
        run:
          mypy --install-types --non-interactive .
